.pricing {
  .card {
    &-item {
      width: calc(420px - 80px);
      &:not(:last-child) {
        margin-right: 80px;
      }
      &:hover {
        @apply bg-white cursor-pointer;
        h2,
        h4:not(span) {
          @apply text-purple;
        }
        .card-divi {
          @apply border-gray-5;
        }
        .btn-outline-pricing {
          @apply btn px-20 py-[15px] border-none;
        }
      }
      @media screen and (max-width: 1199px) {
        width: 300px;
        margin-bottom: 24px;
        &:not(:last-child) {
          margin-right: 40px;
        }
      }
      @media screen and (max-width: 767px) {
        margin: 10px 0;
        &:not(:last-child) {
          margin-right: 0;
        }
      }
    }
  }
}
